@import './vars';

@mixin title($beforeContent) {
    padding-top: 50px;
    font-family:$second-font;
    font-size: 4.5rem;
    text-align: center;

    &::before{
        content:$beforeContent;
        display: block;
        font-size: 2.5rem;
        color:$red;
    }
    &::after{
        content: '';
        display: block;
        margin:10px auto;
        width: 80px;
        height: 2px;
        border-bottom: 2px solid $red;
    }
}

@mixin animation($duration, $delay){
animation: text-move $duration $delay both;
    @keyframes text-move {
        0%{
            opacity:0;
            transform:translate(50%,100%);
        }

        100%{
            opacity:1;
            transform:translate(0);
        }
    }
}