@import "_vars.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html{
    font-size: 10px;
}

body{
    margin: 0 auto;
    font-family: $main-font;
    background-color:$bgc-color;
}

.wrapper{
    display: flex;
    flex-wrap:wrap;
}
